asgiref==3.8.1; python_version >= '3.8'
certifi==2025.4.26; python_version >= '3.6'
charset-normalizer==3.4.2; python_version >= '3.7'
diff-match-patch==20241021; python_version >= '3.7'
django==5.2.1; python_version >= '3.10'
django-cors-headers==4.7.0; python_version >= '3.9'
django-import-export==4.3.7; python_version >= '3.9'
djangorestframework==3.16.0; python_version >= '3.9'
djangorestframework-simplejwt==5.5.0; python_version >= '3.9'
gunicorn==23.0.0; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
packaging==25.0; python_version >= '3.8'
pillow==11.2.1; python_version >= '3.9'
pyjwt==2.9.0; python_version >= '3.8'
python-dotenv==1.1.0; python_version >= '3.9'
requests==2.32.3; python_version >= '3.8'
sqlparse==0.5.3; python_version >= '3.8'
tablib==3.8.0; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
urllib3==2.4.0; python_version >= '3.9'
